div.dataTables_wrapper div.dataTables_filter {
    margin: 10px 0;
}

div.dataTables_wrapper{
    margin: 10px 10%;
}

#btn_accueil{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.position_btn{
    margin: 20px;
    width: 180px;
}
#detail_commande{
    width: 80%;
    margin: auto;
}

#article_tab{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

#titre_art{
    margin-left: 10%;
    margin-top: 20px;
}

#titre_detail_commande{
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titre_expe{
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn_retour{
    margin-top: 20px;
    margin-left: 10%;
}

#btn_retour_centre{
    display: flex;
    margin: auto;
    margin-top: 20px;
}

#titre_centre{
    text-align: center;
    margin-top: 20px;
}