*{
    margin: 0;
    padding: 0;
}
div.dataTables_wrapper div.dataTables_filter {
    margin: 10px 0;
}

div.dataTables_wrapper{
    margin: 10px 10%;
}
#formUtilisateur{
    width: 50%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.alert{
    text-align: center;
}

@font-face{
    font-family: 'calibri';
    src: url('FONTS/calibri-regular.ttf');
}

body{
    font-family: 'calibri', sans-serif;
}